<div class="container">
    <div class="row">
    <h1>{{suggestions.title|uppercase}}</h1>
    <h3></h3>
    <h3>{{suggestions.modified}}</h3>
    <h4>{{suggestions.generator}}</h4>
    </div>
    <div class="row"ng-repeat="x in suggestions.items" >
        <div class="col-lg-2"></div>
        <div class="col-lg-3">
            <div class="potao-img"><img ng-src="{{x.media.m}}" /></div>
        </div>
        <div class="col-lg-6">
            <h2>{{x.title}}</h2>
            <h4>Published: {{x.published}} </h4>
            <h4>Author: {{x.author}} </h4>
            <button ng-click="singleSg($index)">Read More</button>

        </div>
        <div class="col-lg-2"></div>
    </div>

</div>


